/* VARIABLES */
:root {
  --dark-color: #200c44;
  --primary-color: #5ca7db;
  --secondary-color: #a0d639;
  --light-color: #fafdf5;
  --title-font: "Teko", Arial, Helvetica, sans-serif;
  --text-font: "Ubuntu", Arial, Helvetica, sans-serif;
  --border-radius: 10px;
  --dark-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --light-box-shadow: rgba(250, 253, 245, 0.24) 0px 3px 8px;
}

/* RESET */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--text-font);
  /*background-color: var(--dark-color);*/
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 50px;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

/* STYLES GENERIQUES */

.menu {
  background-color: var(--light-color);
  display: flex;
}

/*  BURGER MENU */
.menu {
  padding: 0;
  flex-direction: column;
}

.menu__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  background-color: #fafdf5c8;
  backdrop-filter: blur (8px);
  border-radius: 0px 30px 30px 0px;
  font-weight: 700;
  width: 60%;
  height: 100vh;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

.menu__item {
  list-style: none;
  text-align: center;
  padding: 1rem;
  margin-top: 8vh;
  margin-bottom: 8vh;
  opacity: 0;
}

.menu__link {
  color: var(--dark-color);
  letter-spacing: 2px;
  padding: 0.5rem;
}

.menu__link:hover {
  font-weight: 700;
}

/*creation burger menu icon*/

.burgerIcon {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 1rem;
  z-index: 1;
}

.burgerIcon div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 5px;
  border-radius: 20px;
  transition: transform 0.3s ease-in;
}

.open .menu__list {
  transform: translateX(0);
}

/*LINKS ANIMATION*/
/*the links appear and disappear*/
@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* BURGER MENU ANIMATION*/
.switch .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.switch .line2 {
  opacity: 0;
}

.switch .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 769px) {
  .menu {
    background-color: transparent;
  }

  .menu__list {
    flex-direction: row;
    position: initial;
    background-color: transparent;
    justify-content: space-between;
    transform: none;
    transition: none;
    width: 100%;
    height: 9vh;
    padding: 3rem;
    margin-bottom: 0;
  }

  .menu__item {
    opacity: 1;
    width: 15vw;
  }

  .menu__link {
    display: block;
    color: var(--light-color);
    letter-spacing: 2px;
    padding: 0.5rem;
    margin: -1rem;
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    border-radius: 10px;
    transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }

  .menu__link:hover {
    text-decoration: none;
    box-shadow: inset 300px 0 0 0 var(--primary-color);
    border-radius: 10px;
    color: var(--dark-color);
  }

  .burgerIcon {
    display: none;
  }
}

/* END BURGER MENU*/

/* Titre principal site (page d'accueil) */
.titleTypeMain {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 6rem;
  color: var(--light-color);
}

/* Titre principal de pages */
.titleTypePage {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 4rem;
  color: var(--primary-color);
}

/* Sous titre */
.titleTypeSub {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

/* Block type */
.borderBlock {
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--dark-box-shadow);
}

/* Animated background */
.animatedBG{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background-color: var(--dark-color);
    z-index: -1;
}

#bubbles{
    /*position: relative;*/
    display: flex;
}

#bubbles span{ /*default white*/
    /*position: relative;*/
    width: 5px;
    height: 5px;
    background-color: var(--light-color);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:
        0 0 0 2px RGBA(250, 253, 245, 0.4),
        0 0 6px 3px RGBA(250, 253, 245, 0.4),
        0 0 10px 6px RGBA(250, 253, 245, 0.4)
    ;
    animation: animate 15s linear infinite;
    animation-duration: 15s; /*default value*/
    /*generation js animation-duration: entre 5 et 15s*/
}

#bubbles span:nth-child(even){ /*even blue*/
    background-color: var(--primary-color);
    box-shadow: 
        0 0 0 2px RGBA(79,195,220,0.4), /*blue*/
        0 0 6px 3px RGBA(79,195,220,0.4), /*green*/
        0 0 10px 6px RGBA(79,195,220,0.4) /*blue*/
    ;
}

#bubbles span:nth-child(6n+0) { /*rare green*/
    --secondary-color: rgb(160, 214, 57);
    background-color: var(--secondary-color);
    box-shadow:
        0 0 0 2px RGBA(160,214,57,0.4),
        0 0 6px 3px RGBA(160,214,57,0.4),
        0 0 10px 6px RGBA(160,214,57,0.4)
    ;
}

@keyframes animate{
    0%
    {
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(-10vh);
    }
}

/* Main column */
.mainCol {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mainCol {
    max-width: 808px;
    margin: 0 auto;
    padding: 20px;
  }
}

.mainCol2 {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .mainCol2 {
    max-width: 1200 px;
    margin: 0 auto;
    padding: 20px;
  }
}

/* home page */
.homePage__block {
  text-align: center;
}

.homePage__title {
  margin: 0;
}

.homePage__title__text {
  margin: 0;
}

.homePage__subTitle {
  margin: 0;
}

/* fin home page */

/* page Hello


 fin page Hello*/

/*PAGE MEMBERS*/

.profileFlex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .profileFlex {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.profileCard {
  background-color: var(--light-color);
  padding-bottom: 50px;
  position: relative;
  margin: 220px 0 0;
  max-width: 450px;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  .profileCard {
    flex: 0 0 600px;
    padding-bottom: 0px;
  }
}

.profilePic {
  position: absolute;
  top: -150px;
  left: 50%;
  margin-left: -95px;
  width: 190px;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  .profilePic {}
}

.membersName {
  text-align: center;
  font-size: 30px;
  padding-top: 130px;
}

.bio {
  font-size: 20px;
  margin: 30px;
}

.tagBloc {
  height: 200px;
  padding: 0 30px 0;
}

.tag {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 10px 0 0;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.pastille {
  position: absolute;
  right: -10px;
  height: 60px;
  background-color: var(--light-color);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .pastille {
    right: -15px;
    bottom: -15px;
  }
}

/*FIN PAGE MEMBERS*/

/* page FAQ */

h1 {
  display: flex;  
  justify-content: center;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 4rem;
  color: var(--light-color);
}

.faqCard {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
  background-color: var(--light-color);
  border-radius:8px;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.faqCard__b {
  margin-left: 90%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-right: 4px solid var(--dark-color); 
  border-top: 4px solid var(--dark-color);
  rotate: 135deg;
}

.faqCard__question{
  border-bottom: solid 1px;
  border-radius: 8px;
}

.faqCard__answer{
  opacity: 0;
}

.open {    
  width: 200px;
  border-radius: 8px;
  opacity: 100;
  transition: 0.2s;
  border-bottom: solid 1px;
}

.active {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-right: 4px solid var(--primary-color); 
  border-top: 4px solid var(--primary-color);  
  rotate: 315deg;
  transition: 0.2s;
}

/*FIN FAQ
