/* VARIABLES */
:root {
    --dark-color: #200C44;
    --primary-color: #5CA7DB;
    --secondary-color: #A0D639;
    --light-color: #fafdf5;
    --title-font: "Teko", Arial, Helvetica, sans-serif;
    --text-font: "Ubuntu", Arial, Helvetica, sans-serif;
    --border-radius: 10px;
    --dark-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --light-box-shadow: rgba(250, 253, 245, 0.24) 0px 3px 8px;
}

/* RESET */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--text-font);
    background-color: var(--dark-color);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 50px;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
}


/* STYLES GENERIQUES */

/* Titre principal site (page d'accueil) */
.titleTypeMain {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 6rem;
    color: var(--light-color);
}

/* Titre principal de pages */
.titleTypePage {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 4rem;
    color: var(--primary-color);
}

/* Sous titre */
.titleTypeSub {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-color);
}

/* Block type */
.borderBlock {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
}

/* Main column */
.mainCol {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .mainCol {
        max-width: 808px;
        margin: 0 auto;
        padding: 20px;
    }
}

.mainCol2 {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .mainCol2 {
        max-width: 1200 px;
        margin: 0 auto;
        padding: 20px;
    }
}

/* home page */
.homePage__block {
    text-align: center;
}

.homePage__title {
    margin: 0;
}

.homePage__title__text {
    margin: 0;
}

.homePage__subTitle {
    margin: 0;
}

/* fin home page */

/* page Hello


 fin page Hello*/

/*PAGE MEMBERS*/

.profileFlex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .profileFlex {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


.profileCard {
    background-color: var(--light-color);
    padding-bottom: 50px;
    position: relative;
    margin: 220px 0 0;
    max-width: 450px;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
    .profileCard {
        flex: 0 0 600px;
        padding-bottom: 0px;
    }
}



.profilePic {
    position: absolute;
    top: -150px;
    left: 30%;
    height: 250px;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
    .profilePic {
        left: 130px;
    }
}


.membersName {
    text-align: center;
    font-size: 30px;
    padding-top: 130px;
}

.bio {
    font-size: 20px;
    margin: 30px;
}

.tagBloc {
    height: 200px;
    padding: 0 25px 0;
}

.tag {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px 0 0;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);

}


.pastille {
    position: absolute;
    right: -10px;
    height: 60px;
    background-color: var(--light-color);
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .pastille {
        right: -15px;
        bottom: -15px;
    }
}

/*FIN PAGE MEMBERS*/