/* VARIABLES */
:root {
    --dark-color: #180935;
    --primary-color: #5CA7DB;
    --secondary-color: #A0D639;
    --light-color: #fafdf5;
    --title-font: "Teko", Arial, Helvetica, sans-serif;
    --text-font: "Ubuntu", Arial, Helvetica, sans-serif;
}

/* RESET */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--text-font);
    background-color: var(--dark-color);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
}


/* STYLES GENERIQUES */
.menu {
    background-color: var(--light-color);
}

.accueil {
    text-align: center;
}

/* Titre principal site (page d'accueil) */
.titleTypeMain {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 6rem;
    color: var(--light-color);
}

/* Titre principal de pages */
.titleTypePage {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 4rem;
    color: var(--primary-color);
}

/* Sous titre */
.titleTypeSub {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-color);
}

/* Bloc type */
.borderBloc {
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* page FAQ */

h1 {
display: flex;  
justify-content: center;
font-family: var(--title-font);
font-weight: 700;
font-size: 4rem;
color: var(--light-color);
}

.faqCard {
display:grid;
grid-template-columns: repeat(2, 1fr);
margin: 5%;
background-color: var(--light-color);
border-radius:8px;
margin-top: 5%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.faqCard__b {
margin-left: 90%;
width: 20px;
height: 20px;
background-color: transparent;
border-right: 4px solid var(--dark-color); 
border-top: 4px solid var(--dark-color);
rotate: 135deg;
    }



.faqCard__question{
border-bottom: solid 1px;
border-radius: 8px;
}


.faqCard__answer{
opacity: 0;
}

.open {    
width: 200px;
border-radius: 8px;
opacity: 100;
transition: 0.2s;
border-bottom: solid 1px;
}

.active {
width: 20px;
height: 20px;
background-color: transparent;
border-right: 4px solid var(--primary-color); 
border-top: 4px solid var(--primary-color);  
rotate: 315deg;
transition: 0.2s;
}


